[ {
    "id":"document",
    "name":"{{name}}",
    "version":"1.0",
	"clock":{
      "interval":"{{start_time}}/{{stop_time}}",
      "currentTime":"{{start_time}}",
      "multiplier":2100,
      "range":"LOOP_STOP",
      "step":"SYSTEM_CLOCK_MULTIPLIER"
  }},
  {% for item in gslist %}
  {
      "id": "{{ item['name']}}",
      "name": "{{ item['name'] }}",
      "billboard": 
      {
        "image": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACvSURBVDhPrZDRDcMgDAU9GqN0lIzijw6SUbJJygUeNQgSqepJTyHG91LVVpwDdfxM3T9TSl1EXZvDwii471fivK73cBFFQNTT/d2KoGpfGOpSIkhUpgUMxq9DFEsWv4IXhlyCnhBFnZcFEEuYqbiUlNwWgMTdrZ3JbQFoEVG53rd8ztG9aPJMnBUQf/VFraBJeWnLS0RfjbKyLJA8FkT5seDYS1Qwyv8t0B/5C2ZmH2/eTGNNBgMmAAAAAElFTkSuQmCC",
        "scale": 1.5
      },
      "label":
      {
        "fillColor": 
        {
          "rgba": [255, 255, 255, 255]
        },
        "font": "12pt Lucida Console",
        "horizontalOrigin": "LEFT",
        "pixelOffset":
        {
          "cartesian2": [8, 0]
        },
        "style": "FILL",
        "text": "{{ item['name'] }}",
        "showBackground": true,
        "backgroundColor":
        {
          "rgba": [112, 89, 57, 200]
        }
      },
      "position":
      {
      "cartesian": [{{ item['X'] }}, {{ item['Y'] }}, {{ item['Z'] }} ]
      }
  },
{% endfor %}
{  
   "id": "{{name}}",
   "availability":["{{start_time}}/{{stop_time}}"],
    "ellipsoid" : {
         "radii" : { "cartesian" : [ 500000, 500000, 500000 ] },
          "material" : {
                 "solidColor":{ 
                      "color":{
                      "rgba" : [0, 255, 0, 255]
                               }
                              }
	                            }
    },
    "label" : {
        "fillColor" : {
            "rgba" : [255, 255, 0, 255]
        },
        "font" : "bold 25pt Segoe UI Semibold",
        "horizontalOrigin" : "LEFT",
        "outlineColor" : {
            "rgba" : [0, 0, 0, 255]
        },
        "pixelOffset" : {
            "cartesian2" : [10.0, 0.0]
        },
        "scale" : 1.0,
        "show" : true,
        "style" : "FILL",
        "text" : "{{name}}",
        "verticalOrigin" : "CENTER"
    },
   "position": { 
        "interpolationAlgorithm":"LAGRANGE",
        "interpolationDegree":5,
        "referenceFrame": "FIXED",   
        "cartesian": [  
{% for item in point %}
"{{item['time']}}",{{item['X']}},{{item['Y']}},{{item['Z']}}
{% if not loop.last %}    ,{% endif %} {% endfor %}
		]  
    } }

]
